<% provide(:title, "ホーム") %>
<div class="home-content">
  <div class="row text-center">
    <div class="col-lg">
      <%= image_tag 'phone.png', size: '240x260' %>
      <h1 class="logo">MonoLog</h1>
      <p>みんなのおすすめの商品を見てみよう。あなたのお気に入りの物を紹介しよう。  <i class="fas fa-camera"></i></p>
    </div>
    <div class="col-lg">
      <P>アカウントをお持ちでない場合</P>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
      <p>アカウントをお持ちの場合</p>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>