<li>
  <%= link_to user_path(user) do %>
    <%= gravatar_for user %>
    <%= user.name %>
  <% end %>
  <% if current_user.admin? && current_user %>
    <%= button_to "削除", user, class: "btn btn-outline-danger btn-sm", method: :delete,
                        data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
</li>