.love {
  background-image: url("heart.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  background-size: 32px !important;
}

.loved {
  background-image: url("like.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  background-size: 32px !important;
}

.hide-text {
  margin-left: 10px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}