.home-content {
  margin-top: 30px;
  p {
    font-size: 1.4em;
    margin: 30px 30px;
  }
}

.logo {
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #305089;
}

body {
  padding-top: 60px;
}

li {
  list-style: none;
}


/* footer */

footer {
  margin-top: 50px;
  padding-top: 5px;
}